<!doctype html>
<html lang="en">
<head>
    <title>{% block title %}{% endblock %} | unhorizons rapports</title>
    {{ encore_entry_link_tags('app') }}
</head>
<body>
    {% block block %}{% endblock %}
    {{ encore_entry_script_tags('app') }}
</body>
</html>
