{% extends 'domain/report/layout/base.html.twig' %}
{% block title 'Rechercher un rapport' %}

{% block header %}
    {% embed "shared/component/_header.html.twig" %}
        {% block header_title  'Rechercher un rapport' | title %}
        {% block header_action_list %}
            <li>
                <a href="{{ path('report_manager_report_index') }}" class="btn btn-white btn-dim btn-outline-light" aria-label="{{ 'global.back' | trans([], 'messages') }}" title="{{ 'global.back' | trans([], 'messages') }}">
                    {{ 'folder-list' | icon }}
                    <span>Tous les rapports</span>
                </a>
            </li>
        {% endblock %}
    {% endembed %}
{% endblock %}

{% block content %}

{% endblock %}



