@font-face {
  font-family: 'CircularStd';
  src: url("../fonts/CircularStd-Bold.ttf") format('truetype');
  font-weight: 700;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: 'CircularStd';
  src: url("../fonts/CircularStd-Medium.ttf") format('truetype');
  font-weight: 600;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: 'CircularStd';
  src: url("../fonts/CircularStd-Book.ttf") format('truetype');
  font-weight: 400;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: 'CircularStd';
  src: url("../fonts/CircularStd-Book.ttf");
  font-weight: 100;
  font-display: swap;
  font-style: normal;
}
