<li class="dropdown notification-dropdown">
    <a href="#" class="dropdown-toggle nk-quick-nav-icon" data-toggle="dropdown">
        <div class="icon-status icon-status-info"><em class="icon ni ni-bell"></em></div>
    </a>
    <div class="dropdown-menu dropdown-menu-xl dropdown-menu-right">
        <div class="dropdown-head">
            <span class="sub-title nk-dropdown-title">Notifications</span>
            <a href="#">marquer tout comme lu</a>
        </div>
        <div class="dropdown-body">
            <div class="nk-notification">
                {% for i in 1..10 %}
                    <div class="nk-notification-item dropdown-inner">
                        <div class="nk-notification-icon">
                            <em class="icon icon-circle bg-primary-dim ni ni-comments"></em>
                        </div>
                        <div class="nk-notification-content">
                            <div class="nk-notification-text">You have requested to <span>Widthdrawl</span></div>
                            <div class="nk-notification-time">2 hrs ago</div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
        <div class="dropdown-foot center">
            <a href="{{ path('notification_index', {status: 'all'}) }}">Toutes les notifications</a>
        </div>
    </div>
</li>
